<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>水质监测优化反馈系统</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .vmg-12 {
        margin-top: 12px;
        margin-bottom: 12px;
      }
      .vmg-24 {
        margin-top: 24px;
        margin-bottom: 24px;
      }
      .full-width {
        width: 100%;
      }
      .addon-width {
        min-width: 100px;
      }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <h1 style="text-align:center">水质监测优化反馈系统</h1>
      <form class="form">
        <div class="row">
          <div class="col-lg-3 col-sm-4">
            <div class="input-group vmg-12">
              <span class="input-group-addon addon-width">A_COD:</span>
              <input id="acod" name="acod" type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="input-group vmg-12">
              <span class="input-group-addon addon-width">O1_COD:</span>
              <input id="o1cod" name="o1cod" type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="input-group vmg-12">
              <span class="input-group-addon addon-width">O2_COD:</span>
              <input id="o2cod" name="o2cod" type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="input-group vmg-12">
              <span class="input-group-addon addon-width">O3_COD:</span>
              <input id="o3cod" name="o3cod" type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="input-group vmg-12">
              <span class="input-group-addon addon-width">O4_COD:</span>
              <input id="o4cod" name="o4cod" type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="input-group vmg-12">
              <span class="input-group-addon addon-width">A_NH4:</span>
              <input id="anh4" name="anh4" type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="input-group vmg-12">
              <span class="input-group-addon addon-width">O1_NH4:</span>
              <input id="o1nh4" name="o1nh4" type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="input-group vmg-12">
              <span class="input-group-addon addon-width">O2_NH4:</span>
              <input id="o2nh4" name="o2nh4" type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="input-group vmg-12">
              <span class="input-group-addon addon-width">O3_NH4:</span>
              <input id="o3nh4" name="o3nh4" type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="input-group vmg-12">
              <span class="input-group-addon addon-width">O4_NH4:</span>
              <input id="o4nh4" name="o4nh4" type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="input-group vmg-12">
              <span class="input-group-addon addon-width">A_NO2:</span>
              <input id="ano2" name="ano2" type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="input-group vmg-12">
              <span class="input-group-addon addon-width">O1_NO2:</span>
              <input id="o1no2" name="o1no2" type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="input-group vmg-12">
              <span class="input-group-addon addon-width">O2_NO2:</span>
              <input id="o2no2" name="o2no2" type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="input-group vmg-12">
              <span class="input-group-addon addon-width">O3_NO2:</span>
              <input id="o3no2" name="o3no2" type="text" class="form-control">
            </div>
          </div>
          <div class="col-lg-3 col-sm-4">
            <div class="input-group vmg-12">
              <span class="input-group-addon addon-width">O4_NO2:</span>
              <input id="o4no2" name="o4no2" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-6 vmg-24">
            <button id="suggest" type="button" class="btn btn-primary full-width">生成建议</button>
          </div>
        </div>
        <div id="msg" class="alert hide" role="alert">...</div>
      </form>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script>
      function suggest(){
        $.post('/', $("form").serialize(), function(data){
          $('#msg').removeClass('hide').text(data)
          if (data == '运行正常'){
            $('#msg').addClass('alert-success')
          } else {
            $('#msg').addClass('alert-warning')
          }
        })
      }
      $(function(){
        $('#suggest').click(function(){
          suggest()
        })
      })
    </script>
  </body>
</html>